<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contents</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4 text-left">
                <- HOME
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                로고
            </div>
            <div class="col-sm-6">
                <p>형사법</p>
                <p>00년00월</p>
                <p>기출문제</p>
            </div>
        </div>
    </div>
    <div class="container-fluid constents">
        <div class="row text-left">
            <div class="col-sm-6 offset-3">
                    1. 다음 유적이 형성된 시대에 대한 설명으로 가장 적절한 것은?
                    <ul>
                        <li>
                            봉산 지탑리
                        </li>
                        <li>
                            서울 암사동
                        </li>
                        <li>
                            양양 오산리
                        </li>
                        <li>
                            부산 동삼동                   
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid text-left">
        <div class="row">
            <div class="col-sm-6 offset-3">
                    ① 사람들이 이동 생활을 하며 동굴, 바위그늘, 막집에서 살았다. 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-3">
                    ② 농경에 의한 식량 생산 경제를 배경으로 전개되었다. 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-3">
                    ③ 비파형 동검과 고인돌이 만들어졌다. 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-3">
                    ④ 덩이쇠가 생산되어 여러 나라에 공급되었다.
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>