<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid text-center">
        <div class="row mt-3">
            <div class="col-sm-4 text-left">
                <a href="/">HOME</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                <a href="/"><img src="../img/logo.png" alt="로고"  width="100%" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12" width="80vw" height="80vh">
                dasdasd
            </div>
        </div>
    </div>
    <div class="container" id="selectSection">
        <div class="row">
            <div class="col-12" id="number1">
                보기 1 
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="number2">
                보기 2
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="number3">
                보기 3 
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="number4">
                보기 4 
            </div>
        </div>
    </div>

    <script>
    const selectSection = document.getElementById('selectSection');
    selectSection.addEventListener('click',(e)=>{
        console.log(e.target.id)
    })
    // let url = ''
    // fetch(url)
    // .then(()=>{

    // })
    // .then(()=>{

    // })
    </script>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>